In [28]:
import pandas as pd 
import numpy as np
import datetime

### Этап 1
Предварительная обработка данных (изменить типы данных, убрать некорректно считанные данные)  
Исследование

In [36]:
# Считать данные
df = pd.read_excel("number_absences_working_days.xlsx")

In [49]:
# Переименовать столбцы 
df.columns = ['id', 'type_holiday', 'start', 'end']

In [46]:
# Очистить данные от лишних строк
df = df.dropna()
df = df.drop (index=df.query("id == 'Табельный номер'").index)

In [54]:
# Приведение типов данных
df.start = pd.to_datetime(df.start)
df.end = pd.to_datetime(df.end)
df.id = df.id.astype(int)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6573 entries, 2 to 6574
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            6573 non-null   int32
 1   type_holiday  6573 non-null   object
 2   start         6573 non-null   datetime64[ns]
 3   end           6573 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int32(1), object(1)
memory usage: 231.1+ KB

In [57]:
df.groupby('type_holiday', as_index=False)\
    .agg({'start':'count'}).head()

                type_holiday  start
0              Б_Нетруд_МРОТ      6
1           Б_Нетруд_инвалид      8
2     Б_Нетруд_инвалид_особ.      1
3          Б_Нетруд_неоплач.      2
4  Б_Нетруд_по сроч.договору      1

Буду считать, что 1 запись в type_holiday - это 1 тип отсутствия

In [58]:
df

        id               type_holiday      start        end
2        1  ОТ+ОД_Отпуск_опл.осн.+доп 2024-05-13 2024-05-19
3        2    ОВ_ Дни ухода_реб.-инв. 2024-05-24 2024-05-24
4        2    ОВ_ Дни ухода_реб.-инв. 2024-05-29 2024-05-29
5        3  ОТ+ОД_Отпуск_опл.осн.+доп 2024-05-06 2024-05-08
6        4  ОТ+ОД_Отпуск_опл.осн.+доп 2024-05-21 2024-05-21
...    ...                        ...        ...        ...
6570  4110       К_Служ. командировка 2024-05-23 2024-05-23
6571  4110       К_Служ. командировка 2024-05-29 2024-05-30
6572  4110       К_Служ. командировка 2024-05-22 2024-05-23
6573  4111  ДО_Неоп.отп._согл.работод 2024-05-27 2024-05-27
6574  4112          Б_Нетруд_работник 2024-05-27 2024-05-27

[6573 rows x 4 columns]

In [60]:
df.start.min()

Timestamp('2022-09-28 00:00:00')

In [73]:
with open("conditions.txt", "r", encoding="utf-8") as file:
    # итерация по строкам
    lines = [line.rstrip() for line in file]

In [82]:
date_from = lines[lines.index("от:") + 1]
date_to = lines[lines.index("до:") + 1]

In [83]:
df.query(f"start >= '{date_from}' and start <= '{date_to}'")

        id               type_holiday      start        end
2        1  ОТ+ОД_Отпуск_опл.осн.+доп 2024-05-13 2024-05-19
3        2    ОВ_ Дни ухода_реб.-инв. 2024-05-24 2024-05-24
4        2    ОВ_ Дни ухода_реб.-инв. 2024-05-29 2024-05-29
5        3  ОТ+ОД_Отпуск_опл.осн.+доп 2024-05-06 2024-05-08
6        4  ОТ+ОД_Отпуск_опл.осн.+доп 2024-05-21 2024-05-21
...    ...                        ...        ...        ...
6570  4110       К_Служ. командировка 2024-05-23 2024-05-23
6571  4110       К_Служ. командировка 2024-05-29 2024-05-30
6572  4110       К_Служ. командировка 2024-05-22 2024-05-23
6573  4111  ДО_Неоп.отп._согл.работод 2024-05-27 2024-05-27
6574  4112          Б_Нетруд_работник 2024-05-27 2024-05-27

[6569 rows x 4 columns]

In [ ]:
df.query("type_holiday")

In [ ]:
df['days'] = df.end - df.start + datetime.timedelta(days=1)