In [25]:
import pandas as pd 
import numpy as np
from datetime import timedelta
from datetime import datetime as dt
from datetime import date, timedelta

from functools import partial

### Этап 1
Предварительная обработка данных (изменить типы данных, убрать некорректно считанные данные)  
Исследование

In [2]:
# Считать данные
df = pd.read_excel("number_absences_working_days.xlsx")

In [3]:
# Переименовать столбцы 
df.columns = ['id', 'type_holiday', 'start', 'end']

In [4]:
# Очистить данные от лишних строк
df = df.dropna()
df = df.drop (index=df.query("id == 'Табельный номер'").index)

In [5]:
# Приведение типов данных
df.start = pd.to_datetime(df.start)
df.end = pd.to_datetime(df.end)
df.id = df.id.astype(int)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6573 entries, 2 to 6574
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            6573 non-null   int32
 1   type_holiday  6573 non-null   object
 2   start         6573 non-null   datetime64[ns]
 3   end           6573 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int32(1), object(1)
memory usage: 231.1+ KB

In [7]:
df.groupby('type_holiday', as_index=False)\
    .agg({'start':'count'}).head()

                type_holiday  start
0              Б_Нетруд_МРОТ      6
1           Б_Нетруд_инвалид      8
2     Б_Нетруд_инвалид_особ.      1
3          Б_Нетруд_неоплач.      2
4  Б_Нетруд_по сроч.договору      1

Буду считать, что 1 запись в type_holiday - это 1 тип отсутствия

### Этап 2  
Считать данные из файла  
Отобрать необходимые значения по датам  
Отобрать необходимые значения по типам отпусков  
df[ ~ df['col_name']. isin (values_list)]

In [8]:
df

        id               type_holiday      start        end
2        1  ОТ+ОД_Отпуск_опл.осн.+доп 2024-05-13 2024-05-19
3        2    ОВ_ Дни ухода_реб.-инв. 2024-05-24 2024-05-24
4        2    ОВ_ Дни ухода_реб.-инв. 2024-05-29 2024-05-29
5        3  ОТ+ОД_Отпуск_опл.осн.+доп 2024-05-06 2024-05-08
6        4  ОТ+ОД_Отпуск_опл.осн.+доп 2024-05-21 2024-05-21
...    ...                        ...        ...        ...
6570  4110       К_Служ. командировка 2024-05-23 2024-05-23
6571  4110       К_Служ. командировка 2024-05-29 2024-05-30
6572  4110       К_Служ. командировка 2024-05-22 2024-05-23
6573  4111  ДО_Неоп.отп._согл.работод 2024-05-27 2024-05-27
6574  4112          Б_Нетруд_работник 2024-05-27 2024-05-27

[6573 rows x 4 columns]

In [9]:
df.start.min()

Timestamp('2022-09-28 00:00:00')

In [10]:
with open("conditions.txt", "r", encoding="utf-8") as file:
    # итерация по строкам
    lines = [line.rstrip() for line in file]

In [11]:
date_from = dt.strptime(lines[lines.index("от:") + 1], '%d.%m.%Y')
date_to = dt.strptime(lines[lines.index("до:") + 1], '%d.%m.%Y')

In [12]:
df = df.query(f"start >= '{date_from}' and start <= '{date_to}'")

In [13]:
df['days'] = df.end - df.start + timedelta(days=1)

C:\Users\Anton Kovalenko\AppData\Local\Temp\ipykernel_12076\2100413976.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['days'] = df.end - df.start + timedelta(days=1)

In [21]:
df['start_end'] = df[['start', 'end']]. bfill (axis= 1 ). iloc [:, 0]

C:\Users\Anton Kovalenko\AppData\Local\Temp\ipykernel_12076\1116588118.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['start_end'] = df[['start', 'end']]. bfill (axis= 1 ). iloc [:, 0]

In [22]:
df

,id,type_holiday,start,end,days,work_days,start_end
2,1,ОТ+ОД_Отпуск_опл.осн.+доп,2024-05-13,2024-05-19,7 days,5,2024-05-13
3,2,ОВ_ Дни ухода_реб.-инв.,2024-05-24,2024-05-24,1 days,1,2024-05-24
4,2,ОВ_ Дни ухода_реб.-инв.,2024-05-29,2024-05-29,1 days,1,2024-05-29
5,3,ОТ+ОД_Отпуск_опл.осн.+доп,2024-05-06,2024-05-08,3 days,3,2024-05-06
6,4,ОТ+ОД_Отпуск_опл.осн.+доп,2024-05-21,2024-05-21,1 days,1,2024-05-21
...,...,...,...,...,...,...,...
6570,4110,К_Служ. командировка,2024-05-23,2024-05-23,1 days,1,2024-05-23
6571,4110,К_Служ. командировка,2024-05-29,2024-05-30,2 days,2,2024-05-29
6572,4110,К_Служ. командировка,2024-05-22,2024-05-23,2 days,2,2024-05-22
6573,4111,ДО_Неоп.отп._согл.работод,2024-05-27,2024-05-27,1 days,1,2024-05-27
6574,4112,Б_Нетруд_работник,2024-05-27,2024-05-27,1 days,1,2024-05-27

In [59]:
def date_to_list(row):
    start_end = [row['start'], row['end']]
    return start_end 

df['start_end'] = df.apply(date_to_list, axis=1)

C:\Users\Anton Kovalenko\AppData\Local\Temp\ipykernel_12076\894430239.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['start_end'] = df.apply(date_to_list, axis=1)

In [60]:
df.head(10)

,id,type_holiday,start,end,days,work_days,start_end
2,1,ОТ+ОД_Отпуск_опл.осн.+доп,2024-05-13,2024-05-19,7 days,5,"[2024-05-13 00:00:00, 2024-05-19 00:00:00]"
3,2,ОВ_ Дни ухода_реб.-инв.,2024-05-24,2024-05-24,1 days,1,"[2024-05-24 00:00:00, 2024-05-24 00:00:00]"
4,2,ОВ_ Дни ухода_реб.-инв.,2024-05-29,2024-05-29,1 days,1,"[2024-05-29 00:00:00, 2024-05-29 00:00:00]"
5,3,ОТ+ОД_Отпуск_опл.осн.+доп,2024-05-06,2024-05-08,3 days,3,"[2024-05-06 00:00:00, 2024-05-08 00:00:00]"
6,4,ОТ+ОД_Отпуск_опл.осн.+доп,2024-05-21,2024-05-21,1 days,1,"[2024-05-21 00:00:00, 2024-05-21 00:00:00]"
7,5,ОТ+ОД_Отпуск_опл.осн.+доп,2024-05-20,2024-05-20,1 days,1,"[2024-05-20 00:00:00, 2024-05-20 00:00:00]"
8,6,ОТ+ОД_Отпуск_опл.осн.+доп,2024-05-14,2024-05-14,1 days,1,"[2024-05-14 00:00:00, 2024-05-14 00:00:00]"
9,7,ОТ+ОД_Отпуск_опл.осн.+доп,2024-05-13,2024-05-26,14 days,10,"[2024-05-13 00:00:00, 2024-05-26 00:00:00]"
10,8,ОТ+ОД_Отпуск_опл.осн.+доп,2024-05-02,2024-05-03,2 days,2,"[2024-05-02 00:00:00, 2024-05-03 00:00:00]"
11,9,ОТ+ОД_Отпуск_опл.осн.+доп,2024-05-02,2024-05-12,11 days,7,"[2024-05-02 00:00:00, 2024-05-12 00:00:00]"

In [64]:
def count_work_days(x):
    x = x.sort_values()
    days = [x.iloc[0]]
    for i in range(1, len(x)):
        flag = 0
        for day in days:
            if day[0] <= x.iloc[i][0] and x.iloc[i][0] <= day[1] and  day[1] <= x.iloc[i][1]:
                day[1] = x.iloc[i][1]
                flag = 1
            elif x.iloc[i][0] <= day[0] and  day[0] <= x.iloc[i][1] and  x.iloc[i][1] <= day[1]:
                day[0] = x.iloc[i][0]
                flag = 1
        if flag == 0:
            days.append(x.iloc[i])
    work_days = 0
    for day in days:
        work_days += np.busday_count(day[0].date(), day[1].date() + timedelta(days=1))
    return work_days

In [65]:
a = df.start_end.iloc[0:6]
print(a.sort_values())
print(a)

5    [2024-05-06 00:00:00, 2024-05-08 00:00:00]
2    [2024-05-13 00:00:00, 2024-05-19 00:00:00]
7    [2024-05-20 00:00:00, 2024-05-20 00:00:00]
6    [2024-05-21 00:00:00, 2024-05-21 00:00:00]
3    [2024-05-24 00:00:00, 2024-05-24 00:00:00]
4    [2024-05-29 00:00:00, 2024-05-29 00:00:00]
Name: start_end, dtype: object
2    [2024-05-13 00:00:00, 2024-05-19 00:00:00]
3    [2024-05-24 00:00:00, 2024-05-24 00:00:00]
4    [2024-05-29 00:00:00, 2024-05-29 00:00:00]
5    [2024-05-06 00:00:00, 2024-05-08 00:00:00]
6    [2024-05-21 00:00:00, 2024-05-21 00:00:00]
7    [2024-05-20 00:00:00, 2024-05-20 00:00:00]
Name: start_end, dtype: object

In [66]:
count_work_days(a)

12

In [69]:
df.groupby("id", as_index=False).agg({"start_end":count_work_days}).sort_values(by="start_end")

        id  start_end
4026  4112          1
1976  2015          1
1403  1428          1
3239  3315          1
2946  3014          1
...    ...        ...
3255  3331         23
3872  3956         24
3969  4055         31
345    348         31
1195  1217         35

[4027 rows x 2 columns]

In [ ]:
1195

In [77]:
a = df.query("id == 348")
a

,id,type_holiday,start,end,days,work_days,start_end
598,348,Т_Нетруд_неподтвержд.,2024-05-08,2024-05-14,7 days,5,"[2024-05-08 00:00:00, 2024-05-29 00:00:00]"
600,348,Б_Нетруд_работник,2024-05-08,2024-05-29,22 days,16,"[2024-05-08 00:00:00, 2024-05-29 00:00:00]"
601,348,Б_Нетруд_работник,2024-05-30,2024-06-19,21 days,15,"[2024-05-30 00:00:00, 2024-06-19 00:00:00]"

In [24]:
df

,id,type_holiday,start,end,days,work_days,start_end
2,1,ОТ+ОД_Отпуск_опл.осн.+доп,2024-05-13,2024-05-19,7 days,5,"[2024-05-13 00:00:00, 2024-05-19 00:00:00]"
3,2,ОВ_ Дни ухода_реб.-инв.,2024-05-24,2024-05-24,1 days,1,"[2024-05-24 00:00:00, 2024-05-24 00:00:00]"
4,2,ОВ_ Дни ухода_реб.-инв.,2024-05-29,2024-05-29,1 days,1,"[2024-05-29 00:00:00, 2024-05-29 00:00:00]"
5,3,ОТ+ОД_Отпуск_опл.осн.+доп,2024-05-06,2024-05-08,3 days,3,"[2024-05-06 00:00:00, 2024-05-08 00:00:00]"
6,4,ОТ+ОД_Отпуск_опл.осн.+доп,2024-05-21,2024-05-21,1 days,1,"[2024-05-21 00:00:00, 2024-05-21 00:00:00]"
...,...,...,...,...,...,...,...
6570,4110,К_Служ. командировка,2024-05-23,2024-05-23,1 days,1,"[2024-05-23 00:00:00, 2024-05-23 00:00:00]"
6571,4110,К_Служ. командировка,2024-05-29,2024-05-30,2 days,2,"[2024-05-29 00:00:00, 2024-05-30 00:00:00]"
6572,4110,К_Служ. командировка,2024-05-22,2024-05-23,2 days,2,"[2024-05-22 00:00:00, 2024-05-23 00:00:00]"
6573,4111,ДО_Неоп.отп._согл.работод,2024-05-27,2024-05-27,1 days,1,"[2024-05-27 00:00:00, 2024-05-27 00:00:00]"
6574,4112,Б_Нетруд_работник,2024-05-27,2024-05-27,1 days,1,"[2024-05-27 00:00:00, 2024-05-27 00:00:00]"

In [14]:
def count_weekdays(row):
    start = row['start'].date()
    end = row['end'].date() + timedelta(days=1)
    work_days = np.busday_count(start, end)
    return work_days

df['work_days'] = df.apply(count_weekdays, axis=1)

C:\Users\Anton Kovalenko\AppData\Local\Temp\ipykernel_12076\1056382233.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['work_days'] = df.apply(count_weekdays, axis=1)

In [15]:
df

        id               type_holiday      start        end   days  work_days
2        1  ОТ+ОД_Отпуск_опл.осн.+доп 2024-05-13 2024-05-19 7 days          5
3        2    ОВ_ Дни ухода_реб.-инв. 2024-05-24 2024-05-24 1 days          1
4        2    ОВ_ Дни ухода_реб.-инв. 2024-05-29 2024-05-29 1 days          1
5        3  ОТ+ОД_Отпуск_опл.осн.+доп 2024-05-06 2024-05-08 3 days          3
6        4  ОТ+ОД_Отпуск_опл.осн.+доп 2024-05-21 2024-05-21 1 days          1
...    ...                        ...        ...        ...    ...        ...
6570  4110       К_Служ. командировка 2024-05-23 2024-05-23 1 days          1
6571  4110       К_Служ. командировка 2024-05-29 2024-05-30 2 days          2
6572  4110       К_Служ. командировка 2024-05-22 2024-05-23 2 days          2
6573  4111  ДО_Неоп.отп._согл.работод 2024-05-27 2024-05-27 1 days          1
6574  4112          Б_Нетруд_работник 2024-05-27 2024-05-27 1 days          1

[6397 rows x 6 columns]

In [16]:
df.groupby('id', as_index=False)\
    .agg({'work_days':'sum'})\
    .sort_values('work_days', ascending=False)

        id  work_days
345    348         36
1195  1217         35
3969  4055         31
305    307         25
374    377         25
...    ...        ...
999   1015          1
1001  1017          1
2272  2319          1
2270  2317          1
4026  4112          1

[4027 rows x 2 columns]