In [1]:
import pandas as pd 
import numpy as np
from datetime import timedelta
from datetime import datetime as dt
from datetime import date, timedelta

### Этап 1
Предварительная обработка данных (изменить типы данных, убрать некорректно считанные данные)  
Исследование

In [2]:
# Считать данные
df = pd.read_excel("number_absences_working_days.xlsx")

In [3]:
# Переименовать столбцы 
df.columns = ['id', 'type_holiday', 'start', 'end']

In [4]:
# Очистить данные от лишних строк
df = df.dropna()
df = df.drop (index=df.query("id == 'Табельный номер'").index)

In [5]:
# Приведение типов данных
df.start = pd.to_datetime(df.start)
df.end = pd.to_datetime(df.end)
df.id = df.id.astype(int)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6573 entries, 2 to 6574
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            6573 non-null   int64
 1   type_holiday  6573 non-null   object
 2   start         6573 non-null   datetime64[ns]
 3   end           6573 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(1)
memory usage: 256.8+ KB

In [7]:
df.groupby('type_holiday', as_index=False)\
    .agg({'start':'count'}).head()

                type_holiday  start
0              Б_Нетруд_МРОТ      6
1           Б_Нетруд_инвалид      8
2     Б_Нетруд_инвалид_особ.      1
3          Б_Нетруд_неоплач.      2
4  Б_Нетруд_по сроч.договору      1

Буду считать, что 1 запись в type_holiday - это 1 тип отсутствия

### Этап 2 
Считать данные из файла
Отобрать необходимые значения по датам
Отобрать необходимые значения по типам отпусков

In [8]:
df

        id               type_holiday      start        end
2        1  ОТ+ОД_Отпуск_опл.осн.+доп 2024-05-13 2024-05-19
3        2    ОВ_ Дни ухода_реб.-инв. 2024-05-24 2024-05-24
4        2    ОВ_ Дни ухода_реб.-инв. 2024-05-29 2024-05-29
5        3  ОТ+ОД_Отпуск_опл.осн.+доп 2024-05-06 2024-05-08
6        4  ОТ+ОД_Отпуск_опл.осн.+доп 2024-05-21 2024-05-21
...    ...                        ...        ...        ...
6570  4110       К_Служ. командировка 2024-05-23 2024-05-23
6571  4110       К_Служ. командировка 2024-05-29 2024-05-30
6572  4110       К_Служ. командировка 2024-05-22 2024-05-23
6573  4111  ДО_Неоп.отп._согл.работод 2024-05-27 2024-05-27
6574  4112          Б_Нетруд_работник 2024-05-27 2024-05-27

[6573 rows x 4 columns]

In [9]:
df.start.min()

Timestamp('2022-09-28 00:00:00')

In [10]:
with open("conditions.txt", "r", encoding="utf-8") as file:
    # итерация по строкам
    lines = [line.rstrip() for line in file]

In [11]:
date_from = dt.strptime(lines[lines.index("от:") + 1], '%d.%m.%Y')
date_to = dt.strptime(lines[lines.index("до:") + 1], '%d.%m.%Y')

In [12]:
df = df.query(f"start >= '{date_from}' and start <= '{date_to}'")

In [17]:
df['days'] = df.end - df.start + timedelta(days=1)

/var/folders/0m/1wzwyty959g5m50hvj1ddmk80000gp/T/ipykernel_36144/2100413976.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['days'] = df.end - df.start + timedelta(days=1)

In [18]:
def count_weekdays(row):
    start = row['start'].date()
    end = row['end'].date() + timedelta(days=1)
    work_days = np.busday_count(start, end)
    return work_days

df['work_days'] = df.apply(count_weekdays, axis=1)

/var/folders/0m/1wzwyty959g5m50hvj1ddmk80000gp/T/ipykernel_36144/1056382233.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['work_days'] = df.apply(count_weekdays, axis=1)

In [19]:
df

        id               type_holiday      start        end   days  work_days
2        1  ОТ+ОД_Отпуск_опл.осн.+доп 2024-05-13 2024-05-19 7 days          5
3        2    ОВ_ Дни ухода_реб.-инв. 2024-05-24 2024-05-24 1 days          1
4        2    ОВ_ Дни ухода_реб.-инв. 2024-05-29 2024-05-29 1 days          1
5        3  ОТ+ОД_Отпуск_опл.осн.+доп 2024-05-06 2024-05-08 3 days          3
6        4  ОТ+ОД_Отпуск_опл.осн.+доп 2024-05-21 2024-05-21 1 days          1
...    ...                        ...        ...        ...    ...        ...
6570  4110       К_Служ. командировка 2024-05-23 2024-05-23 1 days          1
6571  4110       К_Служ. командировка 2024-05-29 2024-05-30 2 days          2
6572  4110       К_Служ. командировка 2024-05-22 2024-05-23 2 days          2
6573  4111  ДО_Неоп.отп._согл.работод 2024-05-27 2024-05-27 1 days          1
6574  4112          Б_Нетруд_работник 2024-05-27 2024-05-27 1 days          1

[6397 rows x 6 columns]

In [23]:
df.groupby('id', as_index=False)\
    .agg({'work_days':'sum'})\
    .sort_values('work_days', ascending=False)

        id  work_days
345    348         36
1195  1217         35
3969  4055         31
374    377         25
305    307         25
...    ...        ...
1734  1767          1
3993  4079          1
3980  4066          1
3982  4068          1
3984  4070          1

[4027 rows x 2 columns]